---
import Layout from '@/layouts/Layout.astro';
import { Hero, Separator, Experiences, Pokeref, Portfolio, Bio, UnitConverter, Title } from '@/components';
import { getLangFromUrl } from '@/i18n/utils';

const title = "Thibaud Brault"
const description = "Thibaud Brault, front-end developer"

const lang = getLangFromUrl(Astro.url);
---

<Layout {title} {description}>
	<div class="mx-auto max-w-7xl">
		<Hero {lang} />
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<Experiences client:visible {lang} />
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<section id="projects">
			<Title className="mb-9 text-center" text='Projets' />
			<Pokeref client:visible {lang} />
			<UnitConverter client:visible {lang} />
			<Portfolio client:visible {lang} />
		</section>
		<Separator className='mx-auto mb-24 w-2/3 bg-stone-200' />
		<Bio client:visible {lang} />
	</div>
</Layout>