---
import { Articles, Bio, Experiences, Hero, JobTrack, Pokeref, Portfolio, Separator, Title, UnitConverter } from '@/components';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

const title = "Thibaud Brault"
const description = "Thibaud Brault, front-end developer"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout {lang} {title} {description}>
	<div class="mx-auto max-w-7xl">
		<Hero {lang} />
		<Separator className='mx-auto my-24 w-2/3 bg-stone-200' />
		<Experiences client:visible {lang} />
		<Separator className='mx-auto my-24 w-2/3 bg-stone-200' />
		<section id="projects">
			<Title className="mb-12 text-center" text={t("section.title[1]")} />
			<Pokeref client:visible {lang} />
			<JobTrack client:visible {lang} />
			<UnitConverter client:visible {lang} />
			<Portfolio client:visible {lang} />
		</section>
		<Separator className='mx-auto my-24 w-2/3 bg-stone-200' />
		<Bio client:visible {lang} />
		<Separator className='mx-auto my-24 w-2/3 bg-stone-200' />
		<Articles client:visible {lang} />
	</div>
</Layout>