---
import { Bio, Experiences, FaqMaker, Landing, Hero, Pokeref, Portfolio, Separator, Title } from '@/components';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

const title = "Thibaud Brault"
const description = "Thibaud Brault, développeur front-end"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout {lang} {title} {description}>
	<div class="mx-auto max-w-7xl">
		<Hero {lang} />
		<Separator className='mx-auto my-24 w-2/3 bg-stone-200' />
		<Experiences client:visible {lang} />
		<Separator className='mx-auto my-24 w-2/3 bg-stone-200' />
		<section id="projects">
			<Title className="mb-12 text-center" text={t("section.title[1]")} />
			<div class="relative mb-24 border-4 border-yellow-600 rounded-md pt-16 pb-10">
				<p class="absolute font-bold overflow-hidden bg-yellow-600 top-0 left-0 font-bold text-xl py-2 right-0 text-center">FAQMaker</p>
				<FaqMaker client:visible {lang} />
				<Landing client:visible {lang} />
			</div>
			<Pokeref client:visible {lang} />
			<Portfolio client:visible {lang} />
		</section>
		<Separator className='mx-auto my-24 w-2/3 bg-stone-200' />
		<Bio client:visible {lang} />
	</div>
</Layout>